@model List<DocumentDetailListViewModel>
<div class="container mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td class="table-info FontBold">Document Name</td>
                <td class="table-info FontBold">Document Code</td>
                <td class="table-info FontBold">View</td>
                <td class="table-info FontBold">Edit</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.DocumentID">
                    <td class="table-info">@item.documentName</td>
                    <td class="table-info">@item.documentCode</td>
                    <td class="table-info"><a href="@item.fileAddress" download>View</a></td>
                    <td class="table-info"><a id="editDocument" onclick="functiontest('@item.DocumentID')" href ="#">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>


    // function GetDocumentDataByID(docId) {
    //     alert(docId);
    //     console.log("hi");
    //     // $.ajax({
    //     //     url: '/Document/GetDocumentData', // Adjust URL as needed
    //     //     type: 'GET',
    //     //     data: { id: docId },
    //     //     success: function (data) {
    //     //         $('#documentTitle').text(data.title);
    //     //         $('#documentContent').text(data.content);
    //     //         $('#documentDate').text(data.date);
    //     //     },
    //     //     error: function (xhr, status, error) {
    //     //         console.error("Error fetching document data: ", error);
    //     //     }
    //     // });
    // }
</script>